{% load static swampdragon_tags %}

<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{% static 'werewolves_game/stylesheets/style.css' %}" />

<h1>Werewolves the game</h1>

<table id="player_list">
	<tr><td>Name</td><td>Allegiance</td></tr>
</table>

<div class="general_container">
	<div id="server_updates"></div>
</div>


<div class="general_container">
	<textarea rows="4" cols="60" id="server_commands">input commands here</textarea>
	<div id="send_command">Click to send!</div>
	<div id="quick_match">Quick match</div>
	<div id="create_match">create_match</div>
	<div id="leave_match">leave_match</div>
	<div id="flush_db">Flush DB/session</div>
	<div id="check_session">check_session</div>
	<div id="del_session">del_session</div>
	<div id="unsubscribe">unsubscribe to channel</div>
</div>
<div class="hidden">
	<div id="sessionID">{{ response }}</div>
</div>

{% if response %}<p><strong>{{ response }}</strong></p>{% endif %}

{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>
<script type="text/javascript" src="{% static 'werewolves_game/javascript/jquery-1.11.3.js' %}"></script>

<script>
console.log("working");

<!-- Swampdragon -->
swampdragon.onChannelMessage(function(channels, message){
	if (message.data.channel === "lobbyinfo"){
		$("#player_list").html("");

		var count = 0;
		for (var key in message.data.games){
			$("#player_list").append("<tr><td>"+key+"</td>"+"<td>"+message.data.games[key]+"</td></tr>");
			$("#player_list tbody").children().last().on("click", {"g_id":key}, function(event){
				swampdragon.subscribe('lobby', 'player_list:'+event.data.g_id, {'output':'player_list', 'g_id':event.data.g_id}, null, null);
				swampdragon.callRouter('get_players', 'lobby', {'output':'player_list', 'g_id':event.data.g_id}, null, null);
			});
		}
	}
	if (message.data.channel === "sysmsg"){
		$("#server_updates").prepend("<span class='message'>"+message.data.message+"</span>");
	}
	if (message.data.channel === "player_list"){
		console.log(message.data);
	}
	if (message.data.channel.startsWith("game")){
		console.log(message.data);
	}
	console.log(message.data.channel);
});

swampdragon.ready(function(){
	//swampdragon.subscribe('lobby', 'lobinfo', {'session_key':$('#sessionID').html()}, null, null);
	swampdragon.subscribe('lobby', 'sysmsg', {'session_key':$('#sessionID').html()}, null, null);
	console.log("subscribed");

	$("#send_command").on("click", function(){
		var data_dict = {message: $("#server_commands").html(), time: $.now()};
		var msg = $("#server_commands").val();
		swampdragon.callRouter('messaging', 'lobby', {'session_key':$('#sessionID').html(), msg: msg, groups:["game"]}, function(context, data){
			console.log("message pushed locally: "+data);
		});
	});

	$("#quick_match").on('click', function(){
		swampdragon.callRouter('matchmaking', 'lobby', {'session_key':$('#sessionID').html(), 'action':'join_game'}, function(context, data){
			swampdragon.subscribe('lobby', 'misc', {'session_key':$('#sessionID').html()}, null, null);
			console.log(data);
			$('#server_updates').prepend("<span class='message'>"+data.text+": "+data.g_id+"</span>");
		});
	});

	$("#create_match").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {};
		swampdragon.callRouter('create_game', 'lobby', parameters, function(context, data){
			console.log(data);
			$('#server_updates').prepend("<span class='message'>"+data.g_id+"</span>");
		});
	});

	$("#leave_match").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {'session_key': $('#sessionID').html(), 'action':'leave_game'};
		swampdragon.callRouter('matchmaking', 'lobby', parameters, function(context, data){
			var parameters = {	'session_key': $('#sessionID').html(),
								'action': 'unsubscribe', 
								'listener': 'game'};
			swampdragon.unsubscribe('lobby', 'game', parameters, function(context, data){
				console.log("unsubscription from game messages complete");
				console.log(data);
				$('#server_updates').prepend("<span class='message'>"+data+"</span>");
			});
		});
	});

	$("#flush_db").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {'session_key': $('#sessionID').html(), 'action':'flush_db'};
		swampdragon.callRouter('matchmaking', 'lobby', parameters, function(context, data){
			console.log(data);
			$('#server_updates').prepend("<span class='message'>"+data+"</span>");
		});
	});

	$("#check_session").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {'session_key': $('#sessionID').html(), 'action': 'check'};
		swampdragon.callRouter('session_handling', 'lobby', parameters, function(context, data){
			console.log(data);
			$('#server_updates').prepend("<span class='message'>"+data+"</span>");
		});
	});

	$("#del_session").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {'session_key': $('#sessionID').html(), 'action': 'delete'};
		swampdragon.callRouter('session_handling', 'lobby', parameters, function(context, data){
			console.log(data);
			$('#server_updates').prepend("<span class='message'>"+data+"</span>");
		});
	});

	$("#unsubscribe").on('click', function(){
		// call popup with parameters to fill out
		var parameters = {'session_key': $('#sessionID').html(), 'action': 'unsubscribe'};
		swampdragon.unsubscribe('lobby', 'game:'+'8b652596-ec5c-4392-976b-39d548483941', parameters, function(context, data){
			console.log(data);
			console.log("success");
			$('#server_updates').prepend("<span class='message'>"+data+"</span>");
		});
	});
});

<!-- Session -->
function pulse_activity(callback){
	return $.ajax({
		url:  document.location.origin+"/werewolves_game/extend_session",
		type: 'get',
		data: {'session_key':$('#sessionID').html()},
		success: callback,
	});
}

function pulse_handler(){
	pulse_activity(function(data){
		//console.log("pulse_activity: "+data);
		window.setTimeout(pulse_activity, 25000);
	});
}

pulse_handler();

</script>

</html>